<footer class="bg-gray-100 text-center text-sm text-gray-600 py-4 mt-5 border-t">
    <div class="container mx-auto px-4">
      <p class="mb-2 font-semibold text-gray-700">© 2025 Cocktail Explorer. Tous droits réservés.</p>

      <!-- <div class=" cursor-pointer flex justify-center gap-4 mb-2">
        <a routerLink="/" class="hover:underline">Accueil</a>
        <a routerLink="/about" class="hover:underline">À propos</a>
      </div> -->
      <div class="flex justify-center items-center">
        <p class="text-xs">Développé avec ❤️ par Charbel</p>
        <a rel="noopener" title="Charbel" href="https://github.com/Asking07" target="_blank" class="ml-2">
            <div class="rounded-full bg-gray-200 p-2 flex items-center justify-center">
            <ng-icon [name]="'lucideGithub'" size="20px" />
            </div>
        </a>
       
      </div>
     
    </div>
  </footer>
  