<footer class="bg-gray-100 text-center text-sm text-gray-600 py-6 mt-10 border-t">
    <div class="container mx-auto px-4">
      <p class="mb-2 font-semibold text-gray-700">© 2025 Cocktail Explorer. Tous droits réservés.</p>
      <div class=" cursor-pointer flex justify-center gap-4 mb-2">
        <a routerLink="/" class="hover:underline">Accueil</a>
        <a routerLink="/about" class="hover:underline">À propos</a>
      </div>
      <p class="text-xs">Développé avec ❤️ par Charbel</p>
    </div>
  </footer>
  