<div class="w-full max-w-4xl mx-auto px-6 py-10 text-gray-800 bg-white shadow-lg rounded-lg justify-center items-center flex flex-col">
    <!-- Titre principal -->
    <h1 class="text-4xl font-extrabold mb-6 text-center text-indigo-600">À propos</h1>
  
    <!-- Description -->
    <p class="mb-4 text-lg leading-relaxed">
      Ce site est une application interactive qui vous permet de découvrir de manière aléatoire une variété de trois cocktails à la fois, leurs ingrédients, et les étapes de préparation. 
      Que vous soyez amateur ou passionné, vous trouverez forcément un cocktail à votre goût.
    </p>
  
    <p class="mb-4 text-lg leading-relaxed">
      L’objectif principal de ce projet est d’explorer Angular et de mettre en pratique le développement d'une application moderne, responsive et agréable à utiliser.
    </p>
  
    <!-- Source des données -->
    <p class="mb-4 text-lg leading-relaxed">
      Les données proviennent de l’API ouverte 
      <a href="https://www.thecocktaildb.com/" rel="noopener" target="_blank" class="text-indigo-600 font-semibold hover:underline">
        TheCocktailDB
      </a>, que nous remercions pour la richesse de leur base.
    </p>
  
    <!-- Technologies utilisées -->
    <div class="mb-4 justify-center items-center  w-full flex flex-col">
      <h2 class="text-2xl font-bold mb-4 text-indigo-600">Technologies utilisées</h2>
      <div class="w-full items-center justify-center flex   ">
        <ul class="grid grid-cols-2 gap-x-20 gap-y-4 text-lg ">
          <li class="flex items-center space-x-3">
              <ng-icon [name]="'diAngularOriginal'" class="w-6 h-6"></ng-icon>
  
            <span>Angular</span>
          </li>
          <li class="flex items-center space-x-3">
            <ng-icon [name]="'diTailwindcssOriginal'" class="w-6 h-6"></ng-icon>
            <span>Tailwind CSS</span>
          </li>
          <li class="flex items-center space-x-3">
     <ng-icon [name]="'diTypescriptOriginal'" class="w-6 h-6"></ng-icon>
            <span>TypeScript</span>
          </li>
          <li class="flex items-center space-x-3">
            <img src="assets/icons/api-rest.jpg"  alt="API REST" class="w-6 h-6">
            <span>API REST</span>
          </li>
        </ul>
      </div>
     
    </div>
  
    <!-- Footer -->
    <div class="text-center mt-4">
      <p class="text-sm text-gray-500">
        Merci de visiter notre site ! Nous espérons que vous apprécierez votre expérience.
      </p>
    </div>
  </div>