<!-- État de chargement -->
<div *ngIf="state.loading" class="flex flex-col items-center justify-center w-full h-full">
  <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-indigo-600"></div>
</div>

<div *ngIf="!state.loading && state.error" class="flex flex-col items-center justify-center w-full h-full">
  <ng-icon name="faFaceSadTear" class="text-4xl mb-2 text-indigo-600"></ng-icon>
  <p class="text-lg text-indigo-600">  {{ state.error }}</p>
  <button 
    (click)="onRefresh()"
    class="mt-6 inline-block bg-indigo-600 text-white px-6 py-3 rounded hover:bg-indigo-700 transition w-fit mx-auto shadow-md"
  >
    Rafraîchir 
  </button>
</div>




<div *ngIf="!state.loading" class=" flex flex-col justify-center w-full h-full  p-2">
    <h1 class="text-3xl font-bold mb-4 text-center mx-auto ">
        Cocktails aléatoires
    </h1>
    <button
    (click)="onRefresh()"
    class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-blue-700 mb-6 mx-auto w-28 flex items-center justify-center"
    [ngClass]="{ 'opacity-50 cursor-not-allowed': state.loading }"
    [disabled]="state.loading"
  >
   
    <span >Rafraîchir</span>
  </button>


   <!-- Liste des cocktails -->
  <div *ngIf="!state.loading && !state.error" class="mx-14 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3   gap-6 justify-center items-center">
    <app-cocktail
      *ngFor="let cocktail of cocktails"
      [cocktail]="cocktail"
      class="mx-auto"
    />
  </div>
  <div *ngIf="cocktails.length === 0 && !state.error">
    <div class="text-center text-gray-500">Aucun cocktail trouvé.</div>
  </div>



<!-- 
    <div  *ngIf="loading" class="text-center text-gray-500" >
        Chargement des cocktails...
    </div> -->

  

    <!-- @for (cocktail of cocktails; track $index) {
        <app-cocktail [cocktail]="cocktail"></app-cocktail>

    } @empty {
        <div class="text-center text-gray-500">
            Aucun cocktail trouvé.
        </div>
    } -->


</div>